<!--iframe modified from http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!-- Some security measures:
-the iframe sandbox isolates user input.
-the iframe sandbox constrains the scripts that are allowed to run within in. -->
<head>
    <link rel="stylesheet" type="text/css" href="jquery-linedtextarea/jquery-linedtextarea.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
    <title>Repl</title>
</head>
<body>
    <div>
        <div id="input-container">
            <h1>Repl</h1>
            <br>
            Language:
            <select id="language-select" name="languages" onsubmit="return false;">
                <%for lan in Languages%>
                <option value=<%=lan[1]%>><%=lan[0]%></option>
                <%end%>
            </select>
            <select id="data-type" name="data-type">
                <option selected disabled>Input Data Type</option>
                <option value="array">Array</option>
                <option value="integer">Integer</option>
                <option value="string">String</option>
            </select>
            <select id="data-in-array" name="data-in-array">
                <option selected disabled>Data in Array</option>
                <option value="integer">Integer</option>
                <option value="string">String</option>
            </select>
            <input id="function-call" placeholder="Function Call"></input>
            <textarea id='code' name="code">
                <% if defined? @code %>
                <%=@code%>
                <%end%>
            </textarea>
            <button id='run-bttn'>Run</button>
            <button id='help'>Help!</button>
            <button id='code-stats'>Code Stats</button>
            <button id='complexity'>Time Complexity</button>
            <button id="example-code">Hello World!</button>

            <iframe sandbox='allow-scripts' id='sandboxed' src='/iframe'></iframe>
        </div>
        <div id="output-container">
            <% if defined? @result %>
            Output:
            <%=@result%>
            <%end%>
        </div>
        <div id="article_recs">
        </div>
    </div>
    <script>

        // language variables

        $('#code-stats').hide()
        $('#data-in-array').hide()
        $("#language-select").on('change', function (event) {
          var language = $('#language-select').val()
          if (language =='ruby/mri-2.1'){
            $('#code-stats').show()

          }
          else if (language =='javascript/node-0.10.29'){
            $('#complexity').show()
            $('#data-type').show()
          }
          else{
            $('#complexity').hide()
            $('#data-type').hide()
            //reset
            $('#code').val("");
            $('#output-container').text("");
          }
          })

        $("#data-type").on('change', function (event) {
          if ($("#data-type").val()=="array"){
            $('#data-in-array').show()
          }
          else{
            $('#data-in-array').hide()
          }
        })

        // hello_world ajax call

        $("#example-code").on('click', function (event) {
            var language = $('#language-select').val()
            $.ajax({
                type: "POST",
                url: "/",
                data: {
                    languages: language,
                    example: true
                },
                success: function (data) {
                    $('#code').val(data)
                }
            })
        })

        // run ajax call

        $("#run-bttn").on('click', function (event) {
            var language = $('#language-select').val();
            var code = $('#code').val();
            if (language != 'javascript/node-0.10.29') {
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: {
                        languages: language,
                        code: code,
                        example: false
                    },
                    success: function (data) {
                        $('#output-container').text("Output: " + data);
                    }
                })
            } else if (language == 'javascript/node-0.10.29') {
                evaluate(sandboxedFrame);
            }
        })

        //sandboxing
        var sandboxedFrame = document.getElementById('sandboxed');
        function evaluate(frame) {
            var code = $('#code').val();
            var call = $('#function-call').val();
            if (call){
              code=code+ "\n" + call
            }
            frame.contentWindow.postMessage(code, '*');
        }
        var lengthAndTime={};
        var iteration=0
        window.addEventListener('message', function (e) {
            if (e.origin === "null" && e.source === sandboxedFrame.contentWindow) {
                $("#output-container").append('<div>').text(e.data[0])
                lengthAndTime.time=e.data[1]
                lengthAndTime.length=arrayOfArrayLengths[iteration]
                iteration++

                console.log(lengthAndTime)
            }
        });
        //time complexity
        var arrayOfArrayLengths=[]
        $('#complexity').on('click', function (event) {
          //get time complexity???
          var code = $('#code').val();
          var call = $('#function-call').val();

          var generateArray= function (){
            array=[]
            bigArray=[]
            for (var j=500; j<Math.pow(10,4); j+=500){
              for (var i =0; i<j;i++){
                array.push(Math.floor(Math.random()*10))
              }
              bigArray.push(array)
              array=[]
            }
            return bigArray
          }
          generateArray()


          var generateCalls= function(){
          var bigArrayLength=bigArray.length
          for (var i=0;i<bigArrayLength;i++){

            var evaluate=function(frame) {
                var regex=/\[(.*?)\]/
                call=call.replace(regex, "["+bigArray[i]+"]")
                arrayOfArrayLengths.push(bigArray[i].length)
                if (call){
                  code=code+ "\n" + call
                }
                frame.contentWindow.postMessage(code, '*');
            }
            evaluate(sandboxedFrame);
          }
        }
            generateCalls()


        })

        //error help
        $('#help').on('click', function (event) {
          var output=$("#output-container").text()
          if(output.includes("Error")){
              //call stackoverflow api
            $.ajax({
                type: "GET",
                url: "https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle="+ output +"&site=stackoverflow&key=<%=ENV['STACK_OVERFLOW_KEY']%>",
                success: function (data) {
                    console.log(data);
                    if (data.items.length>0){
                      for (var i=0;i<11;i++){
                        $('#article_recs').append($("<a>").attr("href", data.items[i].link).html(data.items[i].title))
                        $('#article_recs').append($("<br>"))
                      }

                    }
                }
            })
          }
          else{
            $("#output-container").text("If you receive an error after running your program, click 'help'")
          }
        })

    </script>
    <script src="jquery-linedtextarea/jquery-linedtextarea.js" type="text/javascript"></script>
    <script>
        //lines in textarea
        $(function () {
            $("#code").linedtextarea({selectedLine: 1});
        });
    </script>
</body>
