<!--iframe modified from http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!-- Some security measures:
-the iframe sandbox isolates user input.
-the iframe sandbox constrains the scripts that are allowed to run within in. -->
<head>
    <link rel="stylesheet" type="text/css" href="jquery-linedtextarea/jquery-linedtextarea.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
    <title>Repl</title>
</head>
<body>
    <div>
        <div id="input-container">
            <h1>Repl</h1>
            <br>
            <form action="/" method="POST">
            Language:
            <select id="language-select" name="languages">
              <%for lan in Languages%>
                <option value=<%=lan[1]%>><%=lan[0]%></option>
              <%end%>
            </select>
            Data type:
            <select id="data-type" name="data-type">
              <option value="array">Array</option>
              <option value="integer">Integer</option>
              <option value="string">String</option>
            </select>
            <textarea id='code' name="code">
              <% if defined? @code %>
                <%=@code%>
              <%end%>
            </textarea>
            <button id='run-bttn'>Run</button>
            </form>

          <button id="example-code">Hello World!</button>
            <iframe sandbox='allow-scripts' id='sandboxed' src='/iframe'></iframe>
        </div>
        <div id="output-container">
          <% if defined? @result %>
            Output: <%=@result%>
          <%end%>
        </div>
    </div>
    <script>
  
        var sandboxedFrame = document.getElementById('sandboxed');

        function evaluate(frame, language) {

          var language= $('#language-select').val()
          // if (language=='javascript/node-0.10.29'){
            var code = $('#code').val();
            var codeAndLan= {
              code: code,
              language:language
            }
            frame.contentWindow.postMessage(codeAndLan, '*');
          // }
        }
        $('#run-bttn').on('click', function (event) {
          var language= $('#language-select').val()
          if (language=='javascript/node-0.10.29'){
            evaluate(sandboxedFrame);
            event.preventDefault()
          }
        });
        // Listen for response messages from the frames.
        window.addEventListener('message', function (e) {
            if (e.origin === "null" && e.source === sandboxedFrame.contentWindow) {
                $("#output-container").append('<div>').text(e.data)
            }
        });
        $("select option").each(function(){
          if ($(this).val()==`<%=@language%>`){
          $(this).attr("selected","selected");
        }
        });
    </script>
    <script src="jquery-linedtextarea/jquery-linedtextarea.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("#code").linedtextarea({selectedLine: 1});
        });
    </script>
</body>
